<h2>Your Cart</h2>
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>

        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
        {{item}}
        <tr>
            <td>{{ item.product.product_name }}</td>
            <td>{{ item.quantity }}</td>
            <td>₹{{ item.product.product_price }}</td>
            <td>₹{{ item.total_price }}</td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Total: ₹{{ total }}</p>
<button><a href="#">BUY</a></button>
