<h2>Your Cart</h2>
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
        <tr>
            <td>{{ item.product.product_name }}</td>
            <td>{{ item.quantity }}</td>
            <td>₹{{ item.product.product_price }}</td>
            <td>₹{{ item.total_price }}</td>
            <td>
                <!-- Remove button -->
                <form action="{% url 'remove_from_cart' item.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Remove</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Total: ₹{{ total }}</p>

<form action="{% url 'purchase' %}" method="post">
    {% csrf_token %}
    <button type="submit">BUY</button>
</form>
